/* Generic style for listing things in a table */
table.listingtable {
    border-collapse: collapse;
}

table.listingtable,
table.listingtable th,
table.listingtable td {
    border: 1px solid #333;
}

body {
    padding-top: 65px;
}

footer {
    margin-top:2em;
    padding-top:.5em;
    border-top: solid #ccc 1px;
    font-size:.85em;
}


