/* Generic style for listing things in a table */
table.listingtable {
    border-collapse: collapse;
}

table.listingtable,
table.listingtable th,
table.listingtable td {
    border: 1px solid #333;
}

body {
    padding-top: 65px;
}

